In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("SampleFile.csv")

In [3]:
df

       Name      HEX               RGB
0     White  #FFFFFF  rgb(100,100,100)
1    Silver  #C0C0C0     rgb(75,75,75)
2      Gray  #808080     rgb(50,50,50)
3     Black  #000000        rgb(0,0,0)
4       Red  #FF0000      rgb(100,0,0)
5    Maroon  #800000       rgb(50,0,0)
6    Yellow  #FFFF00    rgb(100,100,0)
7     Olive  #808000      rgb(50,50,0)
8      Lime  #00FF00      rgb(0,100,0)
9     Green  #008000       rgb(0,50,0)
10     Aqua  #00FFFF    rgb(0,100,100)
11     Teal  #008080      rgb(0,50,50)
12     Blue  #0000FF      rgb(0,0,100)
13     Navy  #000080       rgb(0,0,50)
14  Fuchsia  #FF00FF    rgb(100,0,100)
15   Purple  #800080      rgb(50,0,50)

In [4]:
df.sort_values("HEX")

       Name      HEX               RGB
3     Black  #000000        rgb(0,0,0)
13     Navy  #000080       rgb(0,0,50)
12     Blue  #0000FF      rgb(0,0,100)
9     Green  #008000       rgb(0,50,0)
11     Teal  #008080      rgb(0,50,50)
8      Lime  #00FF00      rgb(0,100,0)
10     Aqua  #00FFFF    rgb(0,100,100)
5    Maroon  #800000       rgb(50,0,0)
15   Purple  #800080      rgb(50,0,50)
7     Olive  #808000      rgb(50,50,0)
2      Gray  #808080     rgb(50,50,50)
1    Silver  #C0C0C0     rgb(75,75,75)
4       Red  #FF0000      rgb(100,0,0)
14  Fuchsia  #FF00FF    rgb(100,0,100)
6    Yellow  #FFFF00    rgb(100,100,0)
0     White  #FFFFFF  rgb(100,100,100)

In [5]:
df.to_csv("New Sorted Color.csv")

In [8]:
df.set_index("HEX", inplace = True)

In [9]:
df

            Name               RGB
HEX
#FFFFFF    White  rgb(100,100,100)
#C0C0C0   Silver     rgb(75,75,75)
#808080     Gray     rgb(50,50,50)
#000000    Black        rgb(0,0,0)
#FF0000      Red      rgb(100,0,0)
#800000   Maroon       rgb(50,0,0)
#FFFF00   Yellow    rgb(100,100,0)
#808000    Olive      rgb(50,50,0)
#00FF00     Lime      rgb(0,100,0)
#008000    Green       rgb(0,50,0)
#00FFFF     Aqua    rgb(0,100,100)
#008080     Teal      rgb(0,50,50)
#0000FF     Blue      rgb(0,0,100)
#000080     Navy       rgb(0,0,50)
#FF00FF  Fuchsia    rgb(100,0,100)
#800080   Purple      rgb(50,0,50)